@using System.Runtime.InteropServices
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.PlatformAbstractions
@using reactiveui.net.Services
@inject IHostingEnvironment HostingEnvironment
@inject IDeploymentEnvironment DeploymentEnvironment
<!DOCTYPE html>

<html>

<!--
MM"""""""`MM                              dP   oo                   M""MMMMM""M M""M 
MM  mmmm,  M                              88                        M  MMMMM  M M  M 
M'        .M .d8888b. .d8888b. .d8888b. d8888P dP dP   .dP .d8888b. M  MMMMM  M M  M 
MM  MMMb. "M 88ooood8 88'  `88 88'  `""   88   88 88   d8' 88ooood8 M  MMMMM  M M  M 
MM  MMMMM  M 88.  ... 88.  .88 88.  ...   88   88 88 .88'  88.  ... M  `MMM'  M M  M 
MM  MMMMM  M `88888P' `88888P8 `88888P'   dP   dP 8888P'   `88888P' Mb       dM M  M 
MMMMMMMMMMMM                                                        MMMMMMMMMMM MMMM 
                                                                                     

We <3 the people who are involved in this project,
and we’d love to have you on board: https://reactiveui.net/contribute
-->


<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta content="IE edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="reactiveui,functional,reactive,framework,mvvm,viewmodel,xamarin,ios,android,uwp" name="keywords">
    <meta content="ReactiveUI is an advanced, composable, reactive model-view-viewmodel framework." name="description">

    <link rel="apple-touch-icon" sizes="57x57" href="~/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon-16x16.png">
    <link rel="manifest" href="~/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Raleway:700,900|Ubuntu+Mono:400" rel="stylesheet" type="text/css">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="invisible"
              asp-fallback-test-property="visibility"
              asp-fallback-test-value="hidden" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <partial name="_AnalyticsHead" />
</head>

<body class="page-home">
    <partial name="_AnalyticsBody" />

<div class="wrap">

    <partial name="_NavigationPartial" />

    @RenderSection("PreContent", required: false)

    <br />

    @RenderBody()

    <br />
@if (Context.Request.Path != "/support")
{
    <div id="subscribe-to-newsletter" style="background-color: rgba(0, 0, 0, 0.025);">
        <div class=" container">
            <div class=" row">
                <div class=" span12 col-sm-12">
                    <!-- Begin MailChimp Signup Form -->
                    <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
                    <style type="text/css">
                        #mc_embed_signup {
                            background: transparent;
                        }

                        #mc_embed_signup_scroll {
                            text-align: center;
                        }

                        #mc_embed_signup label {
                            font-size: 16px;
                            font-weight: normal;
                        }

                        #mc_embed_signup_scroll input.email {
                            display: -webkit-inline-box;
                            width: 35%;
                        }

                        #mc_embed_signup input.button {
                            background-color: #5d4f85;
                            display: -webkit-inline-box;
                        }

                    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                    </style>
                    <div id="mc_embed_signup">
                        <form action="//ghuntley.us11.list-manage.com/subscribe/post?u=b2822bd494f69f2b23f05672e&amp;id=f92f0e2b4c&amp;UTM=reactiveui-website-footer" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <label for="mce-EMAIL">Get the ReactiveUI newsletter</label>
                                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b2822bd494f69f2b23f05672e_f92f0e2b4c" tabindex="-1" value="">
                                </div>
                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                                </div>
                            </div>
                        </form>
                    </div>

                    <!--End mc_embed_signup-->

                </div>
            </div>
        </div>
    </div>
}


                <div class="footer">
                    <div class="container">
                        <div class=" row vertical-align">
                            <ul class="list-inline span3 col-sm-8 col-md-8 text-right">
                                <li class="list-inline-item">
                                    <a asp-controller="Donate" target="_blank">Donate</a>
                                </li>
                                <li class="list-inline-item">
                                    <a asp-controller="Sponsorship" target="_blank">Sponsorship</a>
                                </li>
                                <li class="list-inline-item">
                                    <a asp-controller="Support" target="_blank">Support</a>
                                </li>
                                <li class="list-inline-item">
                                    <a asp-controller="StackOverflow" target="_blank">StackOverflow</a>
                                </li>
                            </ul>

                            <div class="span1 col-sm-1 col-md-1 text-center">
                                <a asp-controller="Home"><img src="~/images/reactiveui-logo.png" class="center-block" width="64" height="64"></a>
                            </div>

                            <ul class="list-inline span3 col-sm-8 col-md-8 text-left">
                                <li class="list-inline-item">
                                    <a asp-controller="Branding" target="_blank">Branding</a>
                                </li>
                                <li>
                                    <a asp-controller="SourceCode" target="_blank">Source Code</a>
                                </li>
                                <li class="list-inline-item">
                                    <a asp-controller="Documentation" target="_blank">Documentation</a>
                                </li>
                                <li class="list-inline-item">
                                    <a asp-controller="Changelog" target="_blank">Changelog</a>
                                </li>
                                <li class="list-inline-item">
                                    <a asp-controller="License" target="_blank">License</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            @RenderSection("PostContent", false)

            <environment names="Development">
                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            </environment>
            <environment names="Staging,Production">
                <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.4.min.js"
                        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                        asp-fallback-test="window.jQuery">
                </script>
                <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                        asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                        asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
                </script>
            </environment>

            @RenderSection("scripts", false)

</body>

</html>

<cache>
    <!-- IsHttps: @Context.Request.IsHttps -->
    <!-- Host: @Context.Request.Host.Host -->
    <!-- ViewType: @GetType().AssemblyQualifiedName -->
    <!-- Environment: @HostingEnvironment.EnvironmentName -->
    <!-- Application: @PlatformServices.Default.Application.ApplicationName, @PlatformServices.Default.Application.ApplicationVersion -->
    <!-- Deployment: @DeploymentEnvironment.DeploymentId -->
    <!-- Framework: @DeploymentEnvironment.RuntimeFramework -->
    <!-- OS: @RuntimeInformation.OSDescription @RuntimeInformation.OSArchitecture -->
    <!-- Machine: @Environment.MachineName -->
</cache>

