@inherits StatiqRazorPage<IDocument>
@model IDocument
@{
    var blogContent = Context.GetBlogContentString(Model);

    if (!string.IsNullOrEmpty(blogContent))
    {
        <div class="page-box">
            <h2 class="ms-5 post-title"> @Html.DocumentLink(Model)</h2>
            @if (Model.ContainsKey(WebKeys.Author))
            {
                <div class="ms-5 post-subtitle"> <i class="fa fa-user"></i> Author : @Model.GetString(WebKeys.Author)</div>
            }
            @if (Model.ContainsKey(SiteKeys.Tags))
            {
                <div class="ms-5 post-subtitle"> <i class="fa fa-bookmark"></i> Category : @Model.GetString(SiteKeys.Tags)</div>
            }
            <p class="ms-5 post-meta"> <i class="fa fa-calendar"></i> Published on : @Model.GetDateTime(WebKeys.Published).ToLongDateString(Context)</p>
            <div>
                @Html.Raw(blogContent)
            </div>
        </div>
    }
}
